<!-- path: templates/partials/_form_errors.html -->
{% if form.errors %}
<div class="rh-alert rh-alert--danger" role="alert">
  <h3 class="rh-alert__title">{{ error_heading|default:"There is a problem with this upload" }}</h3>
  <ul class="rh-alert__list">
    {% for field, errors in form.errors.items %}
      {% for error in errors %}
      <li>
        {% if field == "__all__" %}
          {{ error }}
        {% else %}
          {{ field|title }}: {{ error }}
        {% endif %}
      </li>
      {% endfor %}
    {% endfor %}
  </ul>
</div>
{% endif %}
